## Beijing hotels to require guests to show negative coronavirus test results

keywords: coronavirus health xu negative results beijing provide technology information guests test zhou management beijings require hotels

authors: 

publish date: 2020-04-11 14:12:30+08:00

![](https://www.straitstimes.com/sites/default/files/styles/x_large/public/articles/2020/04/11/nz_qianmen_110470.jpg?itok=QO-M0vaR)

[中文翻译](Beijing%20hotels%20to%20require%20guests%20to%20show%20negative%20coronavirus%20test%20results_zh.md)

[Original Article](https://www.straitstimes.com/asia/east-asia/beijing-hotels-to-require-guests-to-show-negative-coronavirus-test-results)

BEIJING (CHINA DAILY/ASIA NEWS NETWORK) - Starting on Sunday (April 12), travellers who arrive in Beijing will be required to provide negative coronavirus test results when they check in to hotels in the capital, under a new measure announced on Friday.

Mr Zhou Weimin, a senior official at the Beijing Municipal Bureau of Culture and Tourism, said the authorities will strengthen control and management of people who come to Beijing and stay in hotels to avoid any loopholes.

Hotels will require guests to provide a national health clearance and a Beijing's health condition app, with both showing "normal".

Guests should also provide information about their contacts in Beijing and accept the health management requirement of the hotels.

Mr Zhou spoke during a daily news conference on Friday about Beijing's efforts against the epidemic.

Mr Xu Xinchao, deputy head of the capital's Science and Technology Commission, also shared information about the technology, such as AI, new materials and medical industries, that have contributed to the fight against the epidemic.