## Record 142 new coronavirus cases in S'pore; Indian national later confirmed to have Covid-19 died while awaiting test result

keywords: singapore dormitory coronavirus total clusters lodge covid19 linked toh indian national record cases reported died result later test spore

authors: Jean Iau

publish date: 2020-04-08 20:42:26+08:00

![](https://www.straitstimes.com/sites/default/files/styles/x_large/public/articles/2020/04/08/ycncid080420.jpg?itok=7Ou66Vmr)

[中文翻译](Record%20142%20new%20coronavirus%20cases%20in%20S%27pore%3B%20Indian%20national%20later%20confirmed%20to%20have%20Covid-19%20died%20while%20awaiting%20test%20result_zh.md)

[Original Article](https://www.straitstimes.com/singapore/health/record-142-new-covid-19-cases-in-spore-indian-national-later-confirmed-to-have)

SINGAPORE - Singapore reported a record 142 new cases of Covid-19 on Wednesday (April 8), including a 32-year-old Indian national who was confirmed to have the virus after he died.

The cause of death of the man is being investigated.

The Ministry of Health said that he had been swabbed at the National Centre for Infectious Diseases (NCID) on Tuesday and advised to stay home to wait for the test results. His chest X-ray indicated that he did not have pneumonia. But the man died at home on Wednesday, with his test results coming out positive after his death.

The new one-day high in reported cases once again included a large number of foreign workers living in dormitories. A total of 40 cases announced on Wednesday are linked to clusters at dormitories.

While no new patient clusters were reported, the existing cluster at S11 Dormitory @ Punggol added 20 more cases. It now has 118 cases - the largest cluster here so far.

Four more cases have been linked to Westlite Toh Guan dormitory, which now has 38 cases, while five more cases are linked to Toh Guan Dormitory, which now has 23 cases.

Both dormitories are located in Toh Guan Road East and, along with S11 Dormitory, have been gazetted as isolation areas.

This means its workers will be quarantined in their rooms for 14 days.

The Sungei Tengah Lodge cluster in Old Choa Chu Kang Road added 11 more cases for a total of 29. Other clusters at dormitories - Tampines Dormitory, Cochrane Lodge I, Cochrane Lodge II, Kranji Lodge and Sungei Kadut - also had more patients linked to them, adding one to four new cases.

In total, there are active clusters at nine different dormitories.

Among the local cases, links to existing clusters have been established for 55 cases and 13 cases have been linked to other cases. But around half, or 72 cases, are currently unlinked to other cases or to travel.

Related Story Coronavirus explainers: What you should know to protect yourself

Related Story Coronavirus visual guide: Interactive graphics on the pandemic

On Wednesday, Early Childhood Development Agency (ECDA) also announced that My First Skool in Ang Mo Kio Avenue 10 will be closed from Thursday to April 18 to be disinfected after one of its teachers tested positive for the coronavirus. She was last in the centre on Saturday (April 4). The centre was only partially open for parents who are working in essential services and unable to make other care arrangements for their children.

There was also a new case in the public health sector - a 31-year-old Indian national who works as a technician at Ng Teng Fong General Hospital.

Only two of the new cases are imported. Wednesday's numbers bring the total number of cases in Singapore to 1,623.

MOH also said that 29 patients were discharged on Wednesday.

To date, a total of 406 cases have fully recovered from the infection and have been discharged from hospitals or community isolation facilities.

Of the 669 confirmed cases still in hospital, most are stable or improving, with 29 in critical condition in the intensive care unit. Six have died from complications due to Covid-19 infection.